<form class="{{cssClass}}" autocomplete="off">
    <div class="artifact">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label>{{localize "ARTIFACT.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}" />
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="power1">{{localize "TAB.POWER"}} 1</b>
            <b class="item" data-tab="power2">{{localize "TAB.POWER"}} 2</b>
            <b class="item" data-tab="power3">{{localize "TAB.POWER"}} 3</b>
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor system.description target="system.description" button=true owner=owner editable=true engine="prosemirror"}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="power1">
                <div class="power1 foreground border">
                    <h1>{{localize "TITLE.POWER"}} 1</h1>
                    <div class="action">
                        <label>{{localize "ARTIFACT.ACTION"}}</label>
                        <select name="system.power1.action">
                            {{selectOptions action_types selected=system.power1.action labelAttr="label"}}
                        </select>
                    </div>
                    <div class="corruption">
                        <label>{{localize "ARTIFACT.CORRUPTION"}}</label>
                        <input name="system.power1.corruption" type="text" value="{{system.power1.corruption}}" />
                    </div>
                    {{editor system.power1.description target="system.power1.description" button=true owner=owner editable=true engine="prosemirror"}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="power2">
                <div class="power2 foreground border">
                    <h1>{{localize "TITLE.POWER"}} 2</h1>
                    <div class="action">
                        <label>{{localize "ARTIFACT.ACTION"}}</label>
                        <select name="system.power2.action">
                            {{selectOptions action_types selected=system.power2.action labelAttr="label"}}
                        </select>
                    </div>
                    <div class="corruption">
                        <label>{{localize "ARTIFACT.CORRUPTION"}}</label>
                        <input name="system.power2.corruption" type="text" value="{{system.power2.corruption}}" />
                    </div>
                    {{editor system.power2.description target="system.power2.description" button=true owner=owner editable=true engine="prosemirror"}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="power3">
                <div class="power3 foreground border">
                    <h1>{{localize "TITLE.POWER"}} 3</h1>
                    <div class="action">
                        <label>{{localize "ARTIFACT.ACTION"}}</label>
                        <select name="system.power3.action">
                            {{selectOptions action_types selected=system.power3.action labelAttr="label"}}
                        </select>
                    </div>
                    <div class="corruption">
                        <label>{{localize "ARTIFACT.CORRUPTION"}}</label>
                        <input name="system.power3.corruption" type="text" value="{{system.power3.corruption}}" />
                    </div>
                    {{editor system.power3.description target="system.power3.description" button=true owner=owner editable=true engine="prosemirror"}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.hbs}}
            </div>
        </div>
    </div>
</form>