<form class="{{cssClass}}" autocomplete="off">
    <div class="weapon">
        <div class="sheet-header foreground border">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}"/>
            </div>
            <div class="wrapper-column">
                <div class="name">
                    <label for="{{id}}-item.name">{{localize "WEAPON.NAME"}}</label>
                    <input id="{{id}}-item.name" name="name" type="text" value="{{item.name}}"/>
                </div>
                <div class="computedvalues">
                    <div class="wrapper-column">
                        <label>{{localize "WEAPON.PC_DAMAGE"}}</label>
                        <input type="text" value="{{system.pcDamage}}" data-dtype="Text" disabled/>
                    </div>
                    <div class="wrapper-column">
                        <label>{{localize "WEAPON.NPC_DAMAGE"}}</label>
                        <input type="number" value="{{system.npcDamage}}" data-dtype="Number" disabled/>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="qualities">{{localize "TAB.QUALITIES"}}</b>
            {{#if system.isArtifact}}
            <b class="item" data-tab="power">{{localize "TAB.POWER"}}</b>
            {{/if}}
            <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
        </div>
        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="description">
                <div class="description foreground border">
                    <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
                    {{editor system.description target="system.description" button=true owner=owner editable=true engine="prosemirror"}}
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="stats">
                <div class="stats foreground border">
                    <h1>{{localize "TITLE.STATS"}}</h1>
                    <div class="attribute">
                        <label for="{{id}}-system.attribute">{{localize "WEAPON.ATTRIBUTE"}}</label>
                        <select id="{{id}}-system.attribute" name="system.attribute">
                            {{selectOptions attribute_selection selected=system.attribute labelAttr="label"}}
                        </select>
                    </div>
                    <div class="reference">
                        <label for="{{id}}-system.reference">{{localize "WEAPON_CLASS.LABEL"}}</label>
                        <select id="{{id}}-system.reference" name="system.reference">
                            {{selectOptions weapon_type_selection selected=system.reference labelAttr="label"}}
                        </select>
                    </div>
                    <div class="damage">
                        <label for="{{id}}-system.baseDamage">{{localize "WEAPON.BASE_DAMAGE"}}</label>
                        <select id="{{id}}-system.baseDamage" name="system.baseDamage">
                            {{selectOptions weapon_damage_selection selected=system.baseDamage labelAttr="label"}}
                        </select>
                    </div>
                    <div class="damage">
                        <label for="{{id}}-system.bonusDamage" >{{localize "WEAPON.BONUS_DAMAGE"}}</label>
                        <input id="{{id}}-system.bonusDamage" name="system.bonusDamage" type="text" value="{{system.bonusDamage}}"/>
                    </div>
                    <div class="attribute">
                        <label for="{{id}}-system.alternativeDamage">{{localize "TRAIT_LABEL.ALTERNATIVEDAMAGE"}}</label>
                        <select id="{{id}}-system.alternativeDamage" name="system.alternativeDamage">
                            {{selectOptions alternative_selection selected=system.alternativeDamage labelAttr="label"}}
                        </select>
                    </div>
                    <div class="cost">
                        <label for="{{id}}-system.cost">{{localize "WEAPON.COST"}}</label>
                        <input id="{{id}}-system.cost" name="system.cost" type="text" value="{{system.cost}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.number">{{localize "WEAPON.NUMBER"}}</label>
                        <input id="{{id}}-system.number" name="system.number" type="number" value="{{system.number}}"/>
                    </div>
                    <div class="number">
                        <label for="{{id}}-system.isArtifact">{{localize "ITEM.ARTIFACT"}}</label>
                        <input id="{{id}}-system.isArtifact" name="system.isArtifact" type="checkbox" value="artifact" {{checked system.isArtifact}}/>
                    </div>
                    <div class="quality">
                        <label for="{{id}}-system.quality">{{localize "WEAPON.QUALITY"}}</label>
                        <input name="system.quality" type="text" value="{{system.quality}}"/>
                    </div>
                </div>
            </div>
            <div class="tab" data-group="primary" data-tab="qualities">
                <div class="qualities foreground border">
                    <h1>{{localize "TITLE.QUALITIES"}}</h1>
                    {{#each qualities as | quality |}}
                    <div class="{{#if_even @index}}rightcolumn{{else}}leftcolumn{{/if_even}}">
                        <label for="{{id}}-system.qualities.{{quality}}">{{qualitylocalize quality}}</label>
                        <input id="{{id}}-system.qualities.{{quality}}" name="system.qualities.{{quality}}" type="checkbox" value="flexible" {{checked (lookup ../system.qualities quality)}}/>
                    </div>
                    {{/each}}
                </div>
                {{#if_nempty compatibilities}}
                <div class="qualities foreground border">
                    <h1>{{localize "TITLE.SPECIALQUALITIES"}}</h1>
                    {{#each compatibilities as | compatibility |}}
                    <div class="{{#if_even @index}}rightcolumn{{else}}leftcolumn{{/if_even}}">
                        <label for="{{id}}-system.qualities.{{compatibility}}">{{qualitylocalize compatibility}}</label>
                        <input id="{{id}}-system.qualities.{{compatibility}}" name="system.qualities.{{compatibility}}" type="checkbox" value="flexible" {{checked (lookup ../system.qualities compatibility)}}/>
                    </div>
                    {{/each}}
                </div>
                {{/if_nempty}}
            </div>
            <div class="tab" data-group="primary" data-tab="bonus">
                {{> systems/symbaroum/template/sheet/tab/bonus.hbs}}
            </div>
            {{#if system.isArtifact}}
            <div class="tab" data-group="primary" data-tab="power">
                {{> systems/symbaroum/template/sheet/tab/artifact.hbs}}
            </div>
            {{/if}}
        </div>
    </div>
</form>