<div class="bonus foreground border">
    <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    {{#each bonuses as | bonus |}}
    <div class="attribute">
        <label for="{{lookup ../item 'id'}}-{{bonus.name}}">{{localize bonus.label}}</label>
        <input id="{{lookup ../item 'id'}}-{{bonus.name}}" name="{{bonus.name}}" type="number" value="{{getProperty ../item bonus.name}}" data-dtype="Number" />
    </div>
    {{/each}}
</div>
