<div class="gear">
    <div class="wrapper-left">
        <div class="armors foreground">
            <h1>{{localize "TITLE.ARMORS"}} <a class="symbaroum-add item-create" data-tooltip="{{localize "ARMOR.ADDBUTTON"}}" data-type="armor"><i class="fas fa-plus"></i></a></h1>
            <div class="scrollable item-list">
                <ol>
                <li class="armor item-header">
                    <div class="name">{{localize "ARMOR.NAME"}}</div>
                    <div class="protection">{{localize "ARMOR.PROTECTION_SHORT"}}</div>
                    <div class="impeding">{{localizeabbr "ARMOR.IMPEDING"}}</div>
                    <div class="state">{{localize "GEAR.STATE"}}</div>
                </li>

                {{#each actor.system.armors as |item|}}
                <li class="symbaroum-contextmenu armor item-row item" data-item-id="{{item.id}}">
                    <div class="name">
                        <div class="image-container">
                            <div class="image" style="background-image: url('{{item.img}}')"></div>
                        </div>
                        <button class="item-edit ellipsis armorname">{{item.name}}</button>
                    </div>
                    <div class="protection" {{#ife ../actor.type "player"}}data-tooltip="{{item.displayText}}"{{/ife}} >
                        {{item.displayTextShort}}
                    </div>
                    <div class="impeding" data-tooltip="{{localize 'ARMOR.IMPEDING'}}">{{item.impeding}}</div>
                    <div class="state">
                        {{#if item.isNoArmor }}
                            <i class="fas fa-tshirt"></i>
                        {{else}}
                            {{#if item.isActive}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.isEquipped}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        {{/if}}
                    </div>
                </li>
                {{/each}}
                </ol>
            </div>
        </div>
        <div class="weapons foreground">
            <h1>{{localize "TITLE.WEAPONS"}} <a class="symbaroum-add item-create" data-tooltip="{{localize "WEAPON.ADDBUTTON"}}" data-type="weapon"><i class="fas fa-plus"></i></a></h1>
            <div class="scrollable item-list">
            <ol>
                <li class="weapon item-header">
                    <div class="name">{{localize "WEAPON.NAME"}}</div>
                    <div class="damage">{{localize "WEAPON.DAMAGE"}}</div>
                    <div class="attribute">{{localizeabbr "WEAPON.ATTRIBUTE"}}</div>
                    <div class="state">{{localize "GEAR.STATE"}}</div>
                </li>
                {{#each actor.system.weapons as |item|}}
                <li class="symbaroum-contextmenu weapon item-row item" data-item-id="{{item.id}}">
                    <div class="name">
                        <div class="image-container">
                            <div class="image" style="background-image: url('{{item.img}}')"></div>
                        </div>
                        <button class="item-edit ellipsis weaponname">{{item.name}}</button>
                    </div>
                    <div class="damage" {{#ife ../actor.type "player"}}data-tooltip="{{item.damage.displayText}}"{{/ife}} class="playergear damage ellipsis">{{item.damage.displayTextShort}}</div>
                    <div class="attribute" data-tooltip='{{localize "WEAPON.ATTRIBUTE"}} {{localize item.attributeLabel}}'>{{localizeabbr item.attributeLabel}}</div>
                    <div class="state">
                        {{#if item.isActive}}
                            <a class="item-state" data-tooltip="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                        {{else if item.isEquipped}}
                            <a class="item-state" data-tooltip="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                        {{else}}
                            <a class="item-state" data-tooltip="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ol>
            </div>
        </div>
        <div class="artifacts foreground">
            <h1>{{localize "TITLE.ARTIFACTS"}}</h1>
            <div class="scrollable item-list">
                <ol>
                    <li class="artifact item-header">
                        <div class="name">{{localize "ARTIFACT.NAME"}}</div>
                        <div class="action">{{localize "ARTIFACT.ACTION"}}</div>
                        <div class="corruption">{{localizeabbr "ARTIFACT.CORRUPTION"}}</div>
                        <div class="state">{{localize "GEAR.STATE"}}</div>
                    </li>
                    {{#each items as |item|}}
                        {{#if item.system.isArtifact}}                        
                    <li class="symbaroum-contextmenu artifact item-row item" data-item-id="{{item.id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <button class="item-edit ellipsis artifactname">{{item.name}}</button>
                        </div>
                        <div class="action" data-tooltip="{{item.getArtifactActions}}">
                            <div class="action ellipsis">{{item.getArtifactActions}}</div>
                        </div>
                        <div class="corruption" data-tooltip="{{item.getArtifactCorruptions}}">
                            <div class="corruption ellipsis">{{item.getArtifactCorruptions}}</div>
                        </div>
                        <div class="state">
                            {{#if item.system.isActive}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.system.isEquipped}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        </td>
                    </li>
                        {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
    <div class="wrapper-right">
        <div class="equipments foreground">
            <h1>{{localize "TITLE.EQUIPMENTS"}} <a class="symbaroum-add item-create" data-tooltip="{{localize "EQUIPMENT.ADDBUTTON"}}" data-type="equipment"><i class="fas fa-plus"></i></a>
</h1>
            <div class="scrollable item-list">
                <ol>
                    <li class="equipment item-header">
                        <div class="name">{{localize "EQUIPMENT.NAME"}}</div>
                        <div class="quantity">{{localize "EQUIPMENT.QUANTITY_SHORT"}}</div>
                        <div class="state">{{localize "GEAR.STATE"}}</div>
                    </tr>
                    {{#each items as |item|}}
                    {{#if item.system.isEquipment}}                       
                    <li class="symbaroum-contextmenu equipment item-row item" data-item-id="{{item.id}}">
                        <div class="name" data-tooltip="{{item.name}}">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>                                
                            <button class="item-edit ellipsis equipmentname">{{item.name}}</button>
                        </div>
                        <div class="quantity">
                            {{item.system.number}}
                        </div>
                        <div class="state">
                            {{#if item.system.isActive}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.ACTIVE'}}"><i class="fas fa-tshirt"></i></a>
                            {{else if item.system.isEquipped}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.EQUIPPED'}}"><i class="fas fa-suitcase"></i></a>
                            {{else}}
                                <a class="item-state" data-tooltip="{{localize 'GEAR.OTHER'}}"><i class="fas fa-warehouse"></i></a>
                            {{/if}}
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="money foreground">
            <h1>{{localize "TITLE.MONEY"}}</h1>
            <div class="thaler">
                <label for="{{id}}-system.money.thaler">{{localize "MONEY.THALER"}}</label>
                <input id="{{id}}-system.money.thaler" name="system.money.thaler" type="number" value="{{system.money.thaler}}" data-dtype="Number" />
            </div>
            <div class="shilling">
                <label for="{{id}}-system.money.shilling">{{localize "MONEY.SHILLING"}}</label>
                <input id="{{id}}-system.money.shilling" name="system.money.shilling" type="number" value="{{system.money.shilling}}" data-dtype="Number" />
            </div>
            <div class="orteg">
                <label for="{{id}}-system.money.orteg">{{localize "MONEY.ORTEG"}}</label>
                <input id="{{id}}-system.money.orteg" name="system.money.orteg" type="number" value="{{system.money.orteg}}" data-dtype="Number" />
            </div>
        </div>
    </div>
</div>
