<div class="bio">
    <div class="appearance foreground border">
        <h1>{{localize "BIO.APPEARANCE"}}</h1>
        <div class="wrapper-left">
            <div class="age">
                <label for="{{id}}-system.bio.age">{{localize "BIO.AGE"}}</label>
                <input id="{{id}}-system.bio.age" name="system.bio.age" type="text" value="{{system.bio.age}}" />
            </div>
            <div class="height">
                <label for="{{id}}-system.bio.height">{{localize "BIO.HEIGHT"}}</label>
                <input id="{{id}}-system.bio.height" name="system.bio.height" type="text" value="{{system.bio.height}}" />
            </div>
            <div class="weight">
                <label for="{{id}}-system.bio.weight">{{localize "BIO.WEIGHT"}}</label>
                <input id="{{id}}-system.bio.weight" name="system.bio.weight" type="text" value="{{system.bio.weight}}" />
            </div>
        </div>
        <div class="wrapper-right">
            {{editor system.bio.appearance target="system.bio.appearance" button=true owner=owner editable=true}}
        </div>
        {{#ife actor.type 'player'}}

            <div class="wrapper-full">
                <div class="shadow">
                    <label for="{{id}}-system.bio.shadow">{{localize "BIO.SHADOW"}}</label>
                    <input id="{{id}}-system.bio.shadow" name="system.bio.shadow" type="text" value="{{system.bio.shadow}}" />
                </div>
            </div>
        {{/ife}}
    </div>
    
    {{#ifNotLimited actor}}
        <div class="background foreground border">
            <h1>{{localize "BIO.BACKGROUND"}}</h1>
            {{editor system.bio.background target="system.bio.background" button=true owner=owner editable=true}}
        </div>
        <div class="personal-goal foreground border">
            <h1>{{localize "BIO.GOAL"}}</h1>
            {{editor system.bio.personalGoal target="system.bio.personalGoal" button=true owner=owner editable=true}}
        </div>
        {{#ife actor.type 'player'}}
            <div class="stigmas foreground border">
                <h1>{{localize "BIO.STIGMAS"}}</h1>
                {{editor system.bio.stigmas target="system.bio.stigmas" button=true owner=owner editable=true}}
            </div>
        {{/ife}}

        {{#ife actor.type 'monster'}}
            <div class="stigmas foreground border">
                <h1>{{localize "BIO.TACTICS"}}</h1>
                {{editor system.bio.tactics target="system.bio.tactics" button=true owner=owner editable=true}}
            </div>
        {{/ife}}
    {{/ifNotLimited}}
</div>
